.container {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.thumbnailContainer {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thumbnail {
  max-width: 25px;
  max-height: 25px;
}

.label {
  flex: 1;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

.spriteItem {
  padding: 2px;
  display: flex;
}

.draghandle {
  display: flex;
  width: 157px;
}
